<section>
    <div class="container">
        <form action="/admin/add-product" method="post" enctype="multipart/form-data">
            <legend>Add your products</legend>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Product name</label>
                <input type="text" name="productname" id="disabledTextInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Category</label>
                <input type="text" name="category" id="disabledTextInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Price</label>
                <input type="text" name="price" id="disabledTextInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Description</label>
                <input type="text" name="description" id="disabledTextInput" class="form-control">
            </div>
            <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Image</label>
                <input type="file" name="Image" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <div>
</section>