<footer class="mt-5" style="background: #172337;">

        <div class="container d-flex justify-content-between pt-5 pb-3">
            <div>
                <h6>ABOUT</h6>
                <ul>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Stories</a></li>
                    <li><a href="">Press</a></li>
                </ul>
            </div>
            <div>
                <h6>HELP</h6>
                <ul>
                    <li><a href="">Payments</a></li>
                    <li><a href="">Shipping</a></li>
                    <li><a href="">Cancellations & Returns</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>
            </div>
            <div>
                <h6>POLICY</h6>
                <ul>
                    <li><a href="">Return Policy</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Security</a></li>
                    <li><a href="">Stories</a></li>
                    <li><a href="">Privacy</a></li>
                </ul>
            </div>
            <div>
                <h6>SOCIAL</h6>
                <ul>
                    <li><a href=""><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li><a href=""><i class="bi bi-twitter"></i> Twitter</a></li>
                    <li><a href=""><i class="bi bi-youtube"></i> Youtube</a></li>
                    <li><a href=""><i class="bi bi-instagram"></i> Instagram</a></li>
                    <li><a href=""><i class="bi bi-linkedin"></i> Linkedin</a></li>
                </ul>
            </div>
        </div>

        <div class="pt-3 pb-3 border-top border-secondary">
            <p style="color: white; text-align: center;margin-bottom: 0;font-weight: lighter;">Copyright <span style="font-size: larger;font-weight: bold;">&copy;</span> 2022-grocy.com</p>
        </div>
    </footer>

    <style>
        
        a {
            text-decoration: none;
            color: azure;
            font-size: small;
        }

        ul {
            list-style: none;
            padding-left: 0;
        }

        h6 {
            font-weight: lighter;
            color: darkgray;
        }
    </style>